<!DOCTYPE html>
<html>

<head>
	<title>Apply Leave</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>

<body>

	<div class="topnav">	
		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/listemp" autocomplete="on" method = "GET">
            <button type="submit">EMPLOYEE LIST</button>
		</form>
		<form action="/tomanageattendance" autocomplete="on" method = "POST">
			<button type="submit">MANAGE ATTENDANCE</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/toleave" autocomplete="on" method = "POST">
			<button type="submit">LEAVE</button>
		</form>
	</div>

	<h2>ApplyLeave Form</h2>

	<div class="container">
		<form action="/applyleave" autocomplete="on" method="POST" enctype="multipart/form-data">
			<div class="row">
				<div class="col-25">
					<label>Employee ID:</label>
				</div>
				<div class="col-75">
					<input type="number" name="emp_id" autofocus size="40" placeholder="001">
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>Leave_Type:</label>
				</div>
				<div class="col-75">
					<input type="text" name="leave_type">
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>Reason:</label>
				</div>
				<div class="col-75">
					<input type="text" name="reason">
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>StartDate:</label>
				</div>
				<div class="col-75">
					<input type="text" name="start_date">
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>EndDate:</label>
				</div>
				<div class="col-75">
					<input type="text" name="end_date">
				</div>
			</div>
			
			<button class="button" type="submit">ApplyLeave</button>

		</form>
	</div>
</body>

</html>
