<!DOCTYPE html>
<html>

<head>
    <title>Attendance Employee Information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>

<body>
    <div class="topnav">	
		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/listemp" autocomplete="on" method = "GET">
            <button type="submit">EMPLOYEE LIST</button>
		</form>
		<form action="/tomanageattendance" autocomplete="on" method = "POST">
			<button type="submit">MANAGE ATTENDANCE</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/toleave" autocomplete="on" method = "POST">
			<button type="submit">LEAVE</button>
		</form>
	</div>

    <h1>EMPLOYEE ATTENDANCE INFORMATION</h1>
    <h2>DUTY INFORMATION WAS SAVED SUCCESSFULLY</h2>
    <h2 style="color: grey;">Following Employee Attendance Has Been Added To The Database</h2>
    <h3 style="color: #333;">Employee ID: {{ id }}</h3>
    <h3 style="color: #333;">Date: {{ date }}</h3>

    <center>
        <form action="/" autocomplete="on" method="GET">

            <button class="button" style="margin-left: 48%;" width="500px" type="submit">Return Home</button><br><br>

        </form>
    </center>
</body>
</head>

</html>
