<!DOCTYPE html>
<html>

<head>
    <title>Attendance Employee Information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>

<body>
    <div class="topnav">	
		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/listemp" autocomplete="on" method = "GET">
            <button type="submit">EMPLOYEE LIST</button>
		</form>
		<form action="/tomanageattendance" autocomplete="on" method = "POST">
			<button type="submit">MANAGE ATTENDANCE</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/toleave" autocomplete="on" method = "POST">
			<button type="submit">LEAVE</button>
		</form>
	</div>

    <h1>EMPLOYEE ATTENDANCE</h1>

    <div class="container">
        <form action="/addattendance" autocomplete="on" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-25">
                    <label>Duty ID:</label>
                </div>
                <div class="col-75">
                    <input type="number" name="duty_id" autofocus size="40">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Employee ID:</label>
                </div>
                <div class="col-75">
                    <input type="number" name="emp_id">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Date:</label>
                </div>
                <div class="col-75">
                    <input type="text" name="date">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Duration:</label>
                </div>
                <div class="col-75">
                    <input type="number" name="duration">
                </div>
            </div>
            <button class="button" type="submit">ADD ATTENDANCE</button>
        </form>
    </div>

</body>

</html>
