<!DOCTYPE html>
<html>

<head>
	<title>Edit Attendance Output</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>
<center>

	<div class="topnav">	
		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/listemp" autocomplete="on" method = "GET">
            <button type="submit">EMPLOYEE LIST</button>
		</form>
		<form action="/tomanageattendance" autocomplete="on" method = "POST">
			<button type="submit">MANAGE ATTENDANCE</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/toleave" autocomplete="on" method = "POST">
			<button type="submit">LEAVE</button>
		</form>
	</div>

		<h1>EDIT SUCCESSFUL</h1>

		<h2 style="color: grey;">Following Duty has been updated to the database</h2>
		<h2 style="color: rgb(26, 1, 88);">{{ duty_id }}</h2>

		<form action="/" autocomplete="on" method="GET">

			<button class="button" width="500px" type="submit">Return Home</button><br><br>

		</form>
	</body>

</center>

<body>

</body>

</html>
