<!DOCTYPE html>
<html>

<head>
	<title>Edit Employee Form</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>

<body>

	<div class="topnav">	
		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/listemp" autocomplete="on" method = "GET">
            <button type="submit">EMPLOYEE LIST</button>
		</form>
		<form action="/tomanageattendance" autocomplete="on" method = "POST">
			<button type="submit">MANAGE ATTENDANCE</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/toleave" autocomplete="on" method = "POST">
			<button type="submit">LEAVE</button>
		</form>
	</div>

	<h2>Edit Employee Form</h2>

	<div class="container">
		<form action="/editemp" autocomplete="on" method="POST" enctype="multipart/form-data">
			{% for row in results %}
			<div class="row">
				<div class="col-25">
					<label>Employee ID:</label>
				</div>
				<div class="col-75">
					<input type="number" name="emp_id" autofocus size="40" value='{{ row[0] }}'>
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>First Name:</label>
				</div>
				<div class="col-75">
					<input type="text" name="first_name" value='{{ row[1] }}'>
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>Last Name:</label>
				</div>
				<div class="col-75">
					<input type="text" name="last_name" value='{{ row[2] }}'>
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>Primary Skills:</label>
				</div>
				<div class="col-75">
					<input type="text" name="pri_skill" value='{{ row[3] }}'>
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>Location:</label>
				</div>
				<div class="col-75">
					<input type="text" name="location" value='{{ row[4] }}'>
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>Image:</label>
				</div>
				<div class="col-75">
					<input type=file name="emp_image_file" value='{{ row[5] }}'>
				</div>
			</div>

			<button class="button" type="submit">EDIT EMPLOYEE</button>
			{% endfor %}
		</form>
	</div>
</body>

</html>