<!DOCTYPE html>
<html>

<head>
	<title>Employee Information</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>

<body>
	<div class="topnav">	
		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/listemp" autocomplete="on" method = "GET">
            <button type="submit">EMPLOYEE LIST</button>
		</form>
		<form action="/tomanageattendance" autocomplete="on" method = "POST">
			<button type="submit">MANAGE ATTENDANCE</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/toleave" autocomplete="on" method = "POST">
			<button type="submit">LEAVE</button>
		</form>
	</div>
	
	<h1>Employee Information</h1>

	<form>
		<div class="container">
			<div class="row">
				<div class="col-25">
					<label>Employee ID:</label>
				</div>
				<div class="col-75">
					{{ id }}
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>First Name:</label>
				</div>
				<div class="col-75">
					{{ fname }}
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>Primary Interest:</label>
				</div>
				<div class="col-75">
					{{ interest }}
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>Location:</label>
				</div>
				<div class="col-75">
					{{ location }}
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label>Image URL:</label>
				</div>
				<div class="col-75">
					{{ image_url }}
				</div>
			</div>
			<br>
			<button class="button" type="submit" formaction="/">RETURN</button>
		</div>
	</form>
</body>

</html>