<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
	<div class="topnav">	
		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/listemp" autocomplete="on" method = "GET">
            <button type="submit">EMPLOYEE LIST</button>
		</form>
		<form action="/tomanageattendance" autocomplete="on" method = "POST">
			<button type="submit">MANAGE ATTENDANCE</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/toleave" autocomplete="on" method = "POST">
			<button type="submit">LEAVE</button>
		</form>
	</div>

    <h1>WELCOME TO EMPLOYEE MANAGEMENT SYSTEM</h1>
	
	

	
</body>
</head>
</html>
