<!DOCTYPE html>
<html>
<head>
	<title>Manage Attendance</title>
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='layout.css') }}">
	<style>
		.button {
		  display: inline-block;
		  border-radius: 4px;
		  background-color: #f4511e;
		  border: none;
		  color: #FFFFFF;
		  text-align: center;
		  font-size: 20px;
		  padding: 20px;
		  width: 1000px;
		  transition: all 0.5s;
		  cursor: pointer;
		  margin: 5px;
		}
		
		.button:hover {
  			background-color: #FFFFFF; 
  			color: #f4511e;
		}
		</style>
</head>
<body>
	<div class="topnav">	
		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/listemp" autocomplete="on" method = "GET">
            <button type="submit">EMPLOYEE LIST</button>
		</form>
		<form action="/tomanageattendance" autocomplete="on" method = "POST">
			<button type="submit">MANAGE ATTENDANCE</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/toleave" autocomplete="on" method = "POST">
			<button type="submit">LEAVE</button>
		</form>
	</div>


	<h1>Manage Employee</h1><br>


	<div>
	<form action="/toAttendance" autocomplete="on" method = "POST" style="width: fit-content; margin: auto;">
		<button class="button" style="vertical-align:middle" type="submit">ADD ATTENDANCE</button>
	</form><br>
	<form action="/toRemAttendance" autocomplete="on" method = "POST" style="width: fit-content; margin: auto;">
		<button class="button" style="vertical-align:middle" type="submit">REMOVE ATTENDANCE</button>
	</form><br>
	<form action="/toEditAttendance" autocomplete="on" method = "GET" style="width: fit-content; margin: auto;">
		<button class="button" style="vertical-align:middle" type="submit">EDIT ATTENDANCE</button>
	</form><br>
	<form action="/viewattendance" autocomplete="on" method = "POST" style="width: fit-content; margin: auto;">
		<button class="button" style="vertical-align:middle" type="submit">LIST ATTENDANCE</button>
	</form><br>

</div>
</body>
</head>
</html>
